[2014-09-22 08:48] Carreau opened #1 "Add to list of project using IPython."
Hi,

There is an informal list of IPython/Jupyter compatible kernel over [there](https://github.com/ipython/ipython/wiki/Projects-using-IPython), its a wiki, so you can edit, we'll be happy to have you listed here.

Also feel free to announce on IPython mailing list !

[2015-02-06 15:01] denfromufa opened #2 "code completion"
e.g. using OmniSharp and/or NRefactory:

https://github.com/OmniSharp
https://github.com/icsharpcode/NRefactory

[2015-04-30 17:17] zabirauf opened #3 "icsharp kernel throwing error when version header is empty"
I tried installing it, had a few issues (I accidentally installed python, which is actually python3). Anyhow, in the end the install went fine.

However when I am running ipython I am getting error messages and can not make it to work :-(

What I do

go to the right 'New / Python 2' (I don't see any other relevant option)

Any idea what could be causing the issue?

Thanks!

c:\Users\joel\Desktop>i

[2015-05-01 08:10] #1 closed

[2015-08-30 11:53] awb99 opened #4 "Console.WriteLine does not print output in the notebook"
I think you can register for Console Printouts via Trace.Listener.Add.
Here is a snipped that use to display a virtual console:

[code]

[2015-09-03 17:55] denfromufa opened #5 "kernel is not compatible with latest jupyter (4.0) and scriptcs (0.14.1), python 2.7"
When starting up ipython notebook not kernel is visible:

[code]

[2015-09-03 21:50] denfromufa commented on #4
@awb99 did you get icsharp working with ipython/jupyter? if yes, which versions?

[2015-09-04 11:56] awb99 commented on #4
I did not. But I am still looking into it. I love IPhython, and I cannot understand why there seems to be almost nobody out there who wants to use c# in Jupyter.

[2015-09-04 22:37] denfromufa commented on #4
I started a discussion here: https://groups.google.com/forum/#!topic/jupyter/VsCF9xHNp6Y

[2015-09-05 06:32] zabirauf commented on #5
Thanks for opening the issue. Its been quiet a while I have used it. I will take a look at it soon and see if its a quick fix or not. Will keep you posted.

[2015-09-05 06:34] zabirauf commented on #4
@awb99 Thanks for opening the issue. I will first look into making it work with the update ipython. Feel free to send a pull request if you figure out the issue and have a fix.

[2015-09-05 14:41] awb99 commented on #4
I think one has two problems to solve: 1. running a C# shell in a REPL mode in a linux terminal. (I think I could get this done). This mainly defines the syntax and can print out the status of variables to Console.  2. integration with Jupyter. For this one needs to study more the interface that Jupyter requieres, and then implement it... Both tasks should be doable. And both tasks will have lots

[2015-09-05 14:45] awb99 commented on #4
ICSharp seems to implement a ZMQ messages that are sent via JSON.
What I dont understand why building it needs Python.
Should be a pure .net application...

[2015-09-06 06:31] denfromufa commented on #5
@zabirauf thank you for replying!

I was able to compile ICSHARP with all dependencies in VS 2015 making very few changes in the code. It generated few executables and assemblies in bin\debug\ folder of solution.
How do I hookup these files as a kernel in ipython/jupyter?

After that I tried to install with choco. Here is the log file from chocolatey installer, please note that my Python is not in

[2015-09-06 06:52] denfromufa commented on #5
ok, I launched the kernel with this incomplete installation (looks like all files in place) and bunch of errors in the notebook mode:

[code]

[2015-09-06 07:02] denfromufa commented on #4
@awb99 I built ICSHARP using VS 2015 with GitHub extension, just cloned the repository. I do not think that Python is required for build. I did have to make some changes (add alias for MonoCSharp and replace deprecated calls) and install 3rd party packages using nuget console in VS 2015.
But the fun part is then launching jupyter/ipython notebook. Did you succeed in doing so?

[2015-09-06 07:03] denfromufa commented on #5
in the notebook I typed:

[code]

[2015-09-06 09:39] awb99 commented on #4
Ahh.. I think now I understand: The notes in the README regarding INSTALLATION are ONLY relevant AFTER the solution has been compiled!   Monodevelop has problems in getting the ScriptCS dependencies. It might be because it does not trust the NuGet links?  I am usting the Manjaro Linux which is a rolling distribution based on ARCH; so I believe I have the latest versions of all components. I wil tr

[2015-09-06 09:42] zabirauf commented on #4
To compile

1- Clone the project (recursive so that submodule is cloned as well)
2- Open the solution
3- Right click on solution and select manage dependencies
  1- Select option to restore nuget packages
4- Open CMD and navigate to Engine and run `build.cmd`
5- Compile icsharp

This will build the icsharp

[2015-09-06 09:44] zabirauf commented on #4
@awb99 as @denfromufa stated python is not required, icsharp is a pure c# project. The instruction in README is to run icsharp as ipython kernel.

[2015-09-06 09:45] zabirauf commented on #5
@denfromufa From the log
[code]
looks like the protocol for the latest version might have changed.

[2015-09-06 10:35] awb99 commented on #4
Thank you so much guys!! With clone recursively with ./Engine/build.sh I now managed to build the engine, and the project now builds with MonoDevelop! So will see if I manage to run it in Jupyter..

[2015-09-06 11:30] awb99 commented on #4
All dlls are compiled correctyly now... So now it is to integrate icsharp with Jupyter.
Seems that Chocholatey is pure windows package manager. So I am going to investigate
how to integrate engines with Jupyter...

[2015-09-06 14:57] denfromufa commented on #4
@awb99 looks like ICSHARP is not compatible with latest Jupyter protocol, see the errors I'm getting here:
https://github.com/zabirauf/icsharp/issues/5

[2015-09-06 14:59] denfromufa commented on #5
Is Jupyter/ipython notebook supposed to show separate kernel for ICSHARP when launched correctly?

[2015-09-09 05:10] denfromufa commented on #5
@zabirauf ok, the icsharp kernel is working with ipython 2.0, so it is an issue with the jupyter team :)

[2015-09-09 05:33] zabirauf commented on #5
@denfromufa great to know that you got it working. So what was the issue?

[2015-09-09 05:33] zabirauf commented on #5
@denfromufa great to know that you got it working. So what was the issue?

[2015-09-09 05:40] denfromufa commented on #5
@zabirauf the issue before was that I had been using ipython/jupyter 4.0, and ipython/jupyter team made breaking changes from ipython 2.0 (which you used originally), so now we have to find out how to migrate the communication protocol for icsharp with use API of jupyter 4.0

[2015-09-11 15:14] awb99 commented on #5
I want to get get up and going with Csharp in ipython/Jupyter. So what I need to do is use ipython 2.0 and then it should work?

[2015-09-11 15:30] denfromufa commented on #5
Yes, ICSHARP works with ipython 2.0, please get py.path of compatible
version.

On Fri, Sep 11, 2015, 10:14 AM awb99 <notifications@github.com> wrote:

[2015-09-11 16:36] awb99 commented on #4
Ok. So the only thing to find out for me then is, which of the ICsharp dlls I need to copy where, so that they work under linux. The cholcolatey config only works on Windows I believe.

[2015-09-11 17:37] awb99 commented on #4
I am working on the linux settings file for icsharp. I think witht he Chocolatey install, you just amend a ipython settings file. What I havent figured out, is how to call the binary file. In mono you need to call the app mono icsharp.exe   Just calling icsharp.exe will not get it done.

[2015-09-11 17:49] denfromufa commented on #4
I  think we should build conda/wheel package for cross-platform installation

On Fri, Sep 11, 2015, 12:37 PM awb99 <notifications@github.com> wrote:

[2015-09-11 18:52] awb99 commented on #4
I will first try to get it to work... I guess the last version of IPython that should work with icsharp is 2.4.1
I cannot find this verion in debian or arch packets, so I will try to build this version of IPython and study the sources; perhaps I find out how the kernel expects the app parameters.

[2015-09-11 19:00] awb99 commented on #4
I posted on the Jupyter forum.. I need to know if I can pass paramete, as this is how mono apps are called on Unix...

[2015-09-11 21:35] awb99 commented on #4
I am not sure if going with IPython 2.4.1 is the way to go. It is reasonable simple to find this version, and to compile it. However, to get the old version of PyZMQ to get running is not so easy. The
sudo pip install pyzmq==2.1.11   fails...  I believe I ned to go to an other version of gcc too...
Ahhhh

[2015-09-11 21:45] denfromufa commented on #4
According to Matthias ipython 3 should have adapters for kernels from
ipython 2

On Fri, Sep 11, 2015, 4:35 PM awb99 <notifications@github.com> wrote:

[2015-09-12 16:26] awb99 opened #6 "Suggestion: Change iCSharp.Kernel.exe.config"
Additional dlls will be able to be loaded into iCSharp.Kernel.
The location of such dlls will have to be either GAC or the directory in which
iCSharp.Kernel is located.
Dotnet offers a simple way to load dlls from subdirectories. Say we have
a huge library in the subdirectory customDir1 and customDir2 then the
App.Config needs to be appended (after the startup node is closed)
with the following:

[2015-09-12 16:29] minrk commented on #5
@denfromufa I opened a PR to fix the header in IC#. I don't think there's anything different to do in the adaptation here.

[2015-09-12 16:44] awb99 opened #8 "Add instructions regarding compiling using mono in Wiki"
Running ICSharp under Linux has huge benefits! For me:
Easy command line deployment and monitoring.
Docker Images, so if we had a Docker Image for ICSharp, then we would be up and
rolling on Jupyter with ICSharp kernel in 10 keystrokes and 10 minutes.

The good news is: it all works under Linux!! It is just not yet very easy to do it.

My notes are under:
https://docs.google.com/document/d/1UMN7WF

[2015-09-12 16:52] awb99 commented on #5
I think I have an idea, how I will go about finding out about the protocol problems with Jupyter 4.0
I would record the traffic on the networc card, to see how Jupyter and the ICsharp kernel are communicating. The payload of ZMQ should be just JSON, so it should be very easy to find out what
is going wrong

sudo tcpdump -i eth0   can record packets form the network card, and print them in realtime

[2015-09-13 05:00] denfromufa opened #9 "setup travis CI"
currently the changes to code can only be verified locally by building the VS solution. Travis CI builds would check every commit against .NET & Mono targets, plus dependencies.

[2015-09-13 05:19] zabirauf commented on #9
I will set this up.

[2015-09-13 05:23] zabirauf commented on #8
@awb99 Wow, this is very useful. I think we should create a wiki and add this information there so that anybody can easily look up from there.

[2015-09-13 06:30] denfromufa commented on #8
FYI, related pythonnet project has good support for both .NET and Mono:

https://github.com/pythonnet/pythonnet/tree/develop

perhaps the builds should end up as conda or pip binary packages?

[2015-09-13 06:30] #9 closed

[2015-09-13 06:32] zabirauf commented on #8
@awb99 I've added build.sh for building mono in commit d09ff5f58eec430fbef1a7b48aac27edca9c85b7

[2015-09-13 06:34] #5 closed

[2015-09-13 06:35] denfromufa commented on #5
got things working on jupyter 4.0:

https://github.com/zabirauf/icsharp/pull/10

[2015-09-13 06:39] zabirauf commented on #8
@denfromufa for packaging in *nix? I will create another issue for packaging for *nix.

[2015-09-13 06:40] zabirauf opened #13 "Installing icsharp using some package manager for *nix"

[2015-09-13 06:44] denfromufa opened #14 "support mono backend of scriptcs (Roslyn is limited)"
currently roslyn does not support `dynamic` objects in C#. in scriptcs the workaround is to start it up with `scriptcs -modules mono` command-line arguments to use Mono compiler backend. This second backend should be added to ICSHARP.

[2015-09-13 06:48] zabirauf commented on #14
Currently icsharp is using scriptcs backend, we might have to create the instances related to scriptcs with the correct parameters. But if mono has to be explicitly installed for it then I think it will not be a good idea as usually on windows people don't have mono installed.

[2015-09-13 06:49] denfromufa commented on #13
since python is required for jupyter/ipython anyway, so pip/conda seem to be as a good cross-platform package manager option. at least some other kernels already use this mechanism:

https://pypi.python.org/pypi?:action=browse&show=all&c=586

[2015-09-13 06:50] denfromufa commented on #14
i think scriptcs comes bundled with all necessary DLLs for Mono backend to work out of box.

[2015-09-13 06:59] denfromufa opened #15 "in jupyter the kernel is showing as 'Python 2' - should show C#"
![icsharp1](https://cloud.githubusercontent.com/assets/7870949/9835656/0ec10430-59bb-11e5-9345-b90d91be11b6.PNG)

[2015-09-13 07:10] denfromufa opened #16 "suggested by jupyter developers - unit test for kernel"
jupyter_kernel_test is a tool for testing Jupyter kernels.

https://github.com/jupyter/jupyter_kernel_test

[2015-09-13 09:55] awb99 commented on #13
It agree. However I tried conda and it fails on ARM processors as it wants to install a binary image that is compiled for x86_64. The best processors in terms of low watt for the same CPU speed are ARM so for me this is important as I would run  my jupyter icsharp 247.

For sure if Jupyter team finds out why pip fails on ARM then this would be the cleaner way.

I found a way that works which I pos

[2015-09-13 10:03] awb99 commented on #8
I see that Travis supports building docker images. At least that is what I understand having looked briefly at the site.

I will start making a docker image. Then we have a full charge based jupyter engine that we can deploy at the click of a button literally anywhere.
And this without risking of fucking up a production server or añ important machine in any way.

To me this would allow me to do so

[2015-09-13 10:08] awb99 commented on #8
@zabirauf I installed everything on a new Debian machine which does nothing else then test icsharp.  My plan is to make as detailes notes as possible what worked and what didnt. Get icsharp completely running. Run a few notebooks.  And then kill the server and reinstall a blank new debian image and then install everything via a install script with no human intervention. When I am there I will give

[2015-09-13 10:11] awb99 commented on #8
@zabirauf II. Happy to change my article.and put it to a wiki. Let me know where. Perhaps it can all be done with the markdown syntax in a  new Readme.Unix file ?

[2015-09-13 11:59] awb99 commented on #8
Quick comment on new build.sh file: thousands of errors like this: (dont yet know why)

p: omitting directory `./Kernel/bin/Release/build/jsonschema/jsonschema/tests'
cp: will not overwrite just-created `./build/Release/bin/__init__.py' with `./Kernel/bin/Release/build/jsonschema/jsonschema/tests/__init__.py'
cp: will not overwrite just-created `./build/Release/bin/compat.py' with `./Kernel/bin/Re

[2015-09-13 12:38] awb99 commented on #15
@denfromufa how do you managed to run icsharp at all. I am still getting kernel errrors.

[C 12:00:49.682 NotebookApp] Malformed message: ['C71260293D3747E3960A9701A7838A04', '<IDS|MSG>', '', '{"msg_id":"2ea90403-114f-4aba-9943-a8eab7d06585","username":"icsharp_kernel","session":"C71260293D3747E3960A9701A7838A04","msg_type":"pyout","version":"4.0"}', '{"msg_id":"05C294B7EDA8485B8F09029F0378EC67","

[2015-09-13 14:15] denfromufa commented on #15
Because I'm not on Linux :) I think Jupyter developers discussed with you
this `unsigned message` in some discussion thread. Maybe on Mono you need
extra steps to get signed.

On Sun, Sep 13, 2015, 7:39 AM awb99 <notifications@github.com> wrote:

[2015-09-13 14:26] awb99 opened #17 "outgoing wire protocol - signing messages."
on mono messages received by notebook throw errors because the hash field of the
wire message is empty.  Instead it should be signed with  HMAC digests.

Message signing is easy to do; .net libraries support this out of the box.
I can write the signing part, what I am unclear of is:
1.  jupyter notebook --help-all
   It appears that default behavior is not to sign anything, so why is it now wantin

[2015-09-13 14:34] awb99 commented on #8
The find command is the problem.

1. It lists duplicates of the dlls:
/usr/local/bin/myjupytertest/icsharp# find ./*/bin/Release/*.dll
./Common/bin/Release/Common.dll
./Kernel/bin/Release/Common.dll
I would only copy the dlls from the Kernel folder. All referred dlls are copied by the compilation there automatically.

2. I am not quite sure which files you want to copy. I think it is sufficent if

[2015-09-13 14:59] awb99 commented on #17
This syntax works: -  different to the windows version though..

ipython notebook --KernelManager.kernel_cmd="['mono', '/usr/local/bin/myjupytertest/icsharp/Kernel/bin/Release/iCSharp.Kernel.exe', '{connection_file}']" --Session.key='' --Session.keyfile=''  --ip=10.1.9.5

[2015-09-13 15:12] awb99 commented on #13
@minrk @denfromufa  @zabirauf   With the install script already in github and with this command line syntax the behavior of windows and mono version is identical. YEAHHHH

 jupyter notebook --KernelManager.kernel_cmd="['mono', '/usr/local/bin/myjupytertest/icsharp/Kernel/bin/Release/iCSharp.Kernel.exe', '{connection_file}']" --Session.key='' --Session.keyfile=''  --ip=10.1.9.5  --MappingKernelMana

[2015-09-13 15:13] awb99 commented on #13
@minrk @denfromufa @zabirauf  A BIG THANK YOU TO ALL OF YOU!!!!

[2015-09-13 15:30] denfromufa commented on #13
conda works on Raspberri Pi 2 (arm 7). It was enabled only couple of weeks ago.

@awb99 great to know everything is working with both Mono and .NET, please document in wiki extra steps for Mono

[2015-09-13 15:30] awb99 commented on #4
I think it is not only Console.WriteLine that does not work, but also undefined Variables.
Strangely EXCEPTIONS do work.
On Mono I can see the Console.WriteLine Output in the shell, so redirecting this should be easy.
See  the attached screenshot

Not sure if this error appears also on windows or not:
[W 15:24:10.431 NotebookApp] Timeout waiting for kernel_info reply from 00c51217-4953-4e1e-ba44-c

[2015-09-13 15:48] awb99 commented on #13
@denfromufa https://docs.google.com/document/d/1UMN7WFRQ43KrF1yWcjsMDNqD6NcRe2x5fL99v2aRdPk/edit?usp=sharing

On page 4 I have documented what i did to install Jupyter on  Linux.
Conda itself works, but to install Jupyter it downloads binary packets that only work
for x86.

I will edit the wiki (If I am permissioned for this)

[2015-09-13 16:21] denfromufa commented on #13
This is great, can we work with Jupyter team to install c# kernel on
try.jupyter.org? I think those are Linux machines.

On Sun, Sep 13, 2015, 10:48 AM awb99 <notifications@github.com> wrote:

[2015-09-13 16:40] awb99 commented on #13
@zabirauf @minrk @denfromufa WIKI has now Install / Run instructions for Debian Unix.

@zabirauf related to the ScriptCS.Contracts related to StyleCop reference subproject issue - this should be opened with the ScriptCS team. Basically the subProject ScriptCS does not compile because of a NuGet error to get Stylecop. If the SAME project ScriptCS is compiled from within the subfolder, then it works

[2015-09-13 16:44] awb99 opened #18 "improvement: add Dockers image"
There are many dockers install scripts available for Jupyter, Jupyter R Kernel, etc.
This should also be done for the c# kernel.

Example:
https://github.com/cfljam/pyRat

[2015-09-14 13:34] denfromufa commented on #15
here is how it is possible to setup new kernels:

http://stackoverflow.com/questions/29118729/how-to-install-multiple-ipython-3-0-kernels-python-2-7-python-3-4-etc-wit

[2015-09-14 15:10] denfromufa opened #19 "chocolatey package update and errors"
@zabirauf:

Here is the log file from chocolatey installer, please note that my Python is not installed using chocolatey, but official installer and this does not seem to be the problem:

[code]

[2015-09-17 05:01] denfromufa commented on #15
@awb99 @zabirauf we fixed both unsigned message error and ICSHARP kernel not displayed manually like discussed here:

https://groups.google.com/forum/m/#!topic/jupyter/A7XJUSI-OHc

There is still pending work to automate this and sign messages in ICSHARP side.

[2015-09-17 05:02] denfromufa commented on #17
Here is signing mechanism described here:

https://groups.google.com/forum/m/#!topic/jupyter/A7XJUSI-OHc

[2015-10-03 12:21] denfromufa commented on #14
https://github.com/scriptcs/scriptcs/issues/1092

[2015-12-14 18:03] gwenzek opened #20 "Loading a x64 dll"
Hi, thanks for this integration with ipython, it's really nice.

I can't load dll compiled as 'x64'.
The error I receive is `AssemblyLoader failed to load assembly xxx.xxx, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null `.

I tried with the same dll at the same location compiled in 'x86' and in 'AnyCpu' and it works.

Is the kernel launched in a 32-bit mode ?
Is it possible to launch it in

[2016-01-06 16:30] gwenzek commented on #20
Okay, I recompiled the Kernel project in x64 mode, and replace the `iCSharp.Kernel.exe` in `AppData\Roaming\icsharp` by the x64 version.
Now I can load my x64 dll :-)

I guess there should be an option in Chocolate to use a x64 build of iCSharp.

[2016-01-06 18:14] gwenzek commented on #6
What are the modifications you're suggesting ?

To quote xml try triple ` followed by 'xml' like in [this SO question](http://stackoverflow.com/questions/9751548/how-do-i-correctly-paste-multi-line-xml-snippet-to-github-wiki-when-using-markdo)
[code]

[2016-01-11 10:57] takluyver commented on #17
1. The notebook's default behaviour is to sign messages, and expect signed messages back. The defaults in the help message are misleading - there isn't a default signing key, because the default is to generate a fresh key for each kernel we start. As you've found, there is an off switch, but we don't recommend doing that - message signing is an important security feature, and the off switch turns

[2016-01-19 17:57] Sohojoe opened #21 "Demo does not work on OS X, Safari"
user can not edit text
user can not ctrl-return to run line

repro steps:

1. click readme->demo
2. nbViewer page loads
3. click on In [1]: int someInteger = 123456;

Link:

 http://nbviewer.ipython.org/urls/gist.githubusercontent.com/zabirauf/a0d4aa22b383afaa1e23/raw/65e539dc98b2cf3e38cc26faf3575e50f4ac9108/iCSharp%20Sample.ipynb

[2016-01-20 15:11] denfromufa commented on #21
how did you install icsharp on osx?

[2016-01-20 15:11] denfromufa commented on #20
@gwenzek can you compile in anycpu and check x64?

[2016-01-29 15:01] gwenzek commented on #20
Ok, I retried in AnyCpu and with the "prefer 32 bit" option I don't see my x64 dlls but without it works fine.
But that was expected since I'm on a x64 machine so AnyCpu will be launched in x64 except when "prefer 32 bit" is on.

I think you should provide installation instruction from the sources and therefore let the user choose if he wants a 32bit or 64bit kernel.

[2016-01-29 15:06] gwenzek commented on #17
Even if it's not recommended, here is how you turn off the signing while it's not implemented in ICsharp

In order to disable the signing you have to modify `jupyter_notebook_config.py` (in `~/.jupyter`)
You just have to uncomment the following line:

    c.Session.key = ''

[2016-02-01 22:51] Sohojoe commented on #21
doh - i had assumed it was a demo running on hosted server - i will re-read the docs re getting it set up

[2016-02-01 22:51] #21 closed

[2016-03-06 17:11] awb99 opened #23 "iCSharp with mono support using Docker"
I think icsharp shoud ideally run on a linux server and have a simple docker container that allows to play around quickly.

I want to share my progress; I havent had complete success yet.

This project has a dockerimage that installs on debian jessie the current jupyter version (via anaconda) the current mono version (via debian contrib):
https://github.com/awb99/anaconda-notebook

To compile icsh

[2016-03-06 19:02] denfromufa commented on #23
Note that Microsoft release csi Roslyn based repl for VS 2015 which has
better support for c# language, particularly dynamic. Vb.net support is
coming soon.

So icsharp would benefit from this new backend.

Also have a look at binder project for deploying jupyter docker images in
the cloud for free.

On Sunday, March 6, 2016, awb99 <notifications@github.com> wrote:

[2016-03-06 19:36] awb99 commented on #23
I am fine with whatever works...ScriptCs is not perfect.. But I would say has a fairly active
commuity.. and works..

Facts are that under current mono the old scriptcs does no longer compile.

My fork now compiles the latest version of scriptcs with no errors;however I thinkI messed up the conversion to PowerArgs and the IScriptLibraryComposer.

My docker image correctly installs Jupyter and Mono

[2016-03-14 16:10] awb99 commented on #23
I have created a test project to see if roslyn engine in scriptcs works.
In windows it does,in mono it does not..
i think it is just a simple directory path issue that is causing the issue...

It is really frustrating how difficult this things are in mono... Simple bugs made e loose lots of time..

[2016-03-15 09:36] awb99 opened #24 "png/jpg and html tables"
iPython/Jupyter supports sending back images and html markup.

One of the most useful things in using Python in Jupyter is making inline charts and nicely printing array of data classes.

This can be quite easily achieved in icsharp also. I already have written a generator that generates html and text markup for a List<type> and either displays all columns that the given type supports, or just sel

[2016-03-15 16:51] zabirauf commented on #18
Duplicate of issue #23

[2016-03-15 16:51] #18 closed

[2016-03-15 18:04] awb99 commented on #23
https://github.com/awb99/jupyter-icsharp-docker

Docker image. it is building evertyhing from scratch.
I made all patches so it would work with most recent csscript version.

Only error is when executing the script an issue related to the missing signing of messages.
I had solved this before;  but the old trick seems to have changed.

[2016-03-15 18:25] awb99 commented on #6
I am suggesting that iCSharp.Kernel.exe.config gets added the runtime flags; this way one can put custom dlls into customDir1 and customDir2, and they will be able to get loaded in Jupyter/Ipython wth the #load directive.

[2016-03-15 18:51] awb99 commented on #23
@minrk  this jupyter c# docker image that made should really help people use the c# icsharp kernel in jupyter.  What works: Fully automatic install and config of 1. python & jupyter, 2. mono , 3. compilation of icsharp, 4. install of icsharp kernel. What remains is a messaging bug between jupyter and icsharp (but this bug was sorted out in the past in this forum, so I am hopeful that it can be sor

[2016-03-17 06:37] zabirauf commented on #20
@gwenzek I agree, we should have a better installation mechanism that should work seamlessly for both x86 and x64.

[2016-03-17 06:52] zabirauf commented on #23
@awb99 Thanks a lot for creating the docker image. I am taking a look into the docker repo you created to understand it better. I will get back to you on it.

@denfromufa Regarding the discussion of roslyn vs mono, the good thing about using scriptcs is that it handles both of those script engines internally. So all we have to do to support the other engine is to initialize the correct Repl and it

[2016-03-17 06:56] zabirauf commented on #24
@awb99 Thats a great suggestion. Do you have the Grid encoder in an open repo so that I can take a look at it to get a better idea of what you are proposing design wise.

[2016-03-17 08:07] denfromufa commented on #23
@zabirauf scriptcs is using old version (at least latest release of scriptcs) of Roslyn which does not support `dynamic`, and Mono engine has other issues:

http://stackoverflow.com/questions/32471727/for-scriptcs-dynamic-is-not-supported-by-roslyn-and-available-only-with-mono

I use `dynamic` extensively to call into CPython using pythonnet from .NET:

https://github.com/pythonnet/pythonnet

So u

[2016-03-17 08:47] awb99 commented on #24
@zabirauf Not yet. I have it already, but need to factor this part out to a dedicated project. I promise to do so!

[2016-03-27 18:50] csells commented on #23
I took a whack at using the current instructions at https://github.com/awb99/jupyter-icsharp-docker, but had no luck. After the docker run, I do a "open http://$(docker-machine ip default):8888" (from my Mac) and just get a ERR_CONNECTION_REFUSED. I'm able to get https://github.com/jupyter/docker-stacks to work, so the docker environment on my machine is working.

[2016-03-28 02:26] csells commented on #15
I installed the Python 3.x version of Anaconda and the C# kernel is showing as "Python 3" for me.

[2016-03-28 02:29] csells opened #26 "errors not showing in the notebook, only in the output of the jupyter server"
If I do something wrong in a notebook, e.g. "x = 4" and "x" is undefined, the error message is shown in the stdout of the Jupyter server, not in the notebook output as expected.

[2016-03-28 02:30] csells commented on #2
Any idea how to get started on this? I'm happy to pitch in here.

[2016-03-28 03:00] denfromufa commented on #2
@csells since scriptcs does not provide code-completion (https://github.com/scriptcs/scriptcs/issues/1112), hence you may need to rely on some custom code like what ifsharp is doing for its intellisense in jupyter:

https://github.com/fsprojects/IfSharp

[2016-03-28 03:06] denfromufa commented on #26
I think this used to work for me, so can you provide your installation version for icsharp, scriptcs, mono/Roslyn, jupyter?

[2016-03-28 03:08] denfromufa commented on #15
@csells did you install kernelspec which allows you to switch kernel?

[2016-03-28 03:17] denfromufa commented on #2
@csells just throwing ideas at you, but this is how code completion is working in CSI REPL for VS 2015:

https://github.com/dotnet/roslyn/blob/master/src/Interactive/EditorFeatures/CSharp/Completion/CompletionProviders/CSharpReplCommandCompletionProvider.cs

[2016-03-28 09:46] awb99 commented on #24
@zabirauf   https://github.com/awb99/ObjectPrinter.git
I factored out some basic functionality into this github project.
I added a feature to print a list of objects of a specific type to a html table.
For individual objects, I would rather export as a format more similar to JSON

I am not sure if we should put the dataType (jpg/html/text/...) into the ObjectPrinter; or if this should be done icsh

[2016-03-28 09:52] awb99 commented on #23
@csells  My mistake. I forgot to add the CMD to start jupyter when you run the docker image.  I will add that in the next couple of days.

[2016-05-16 03:56] chid commented on #26
I can confirm that this is also the case for me.

[2016-05-16 18:30] zedr0n commented on #24
Just had a go at supporting PNG images and it seems to be working fine

[Commit](https://github.com/zedr0n/icsharp/commit/442459b278d239d6d522291dd73c45b09a461fe9)

[2016-05-16 19:40] zedr0n commented on #24
Html seems to be possible as well automatically but need a proper function to check for presence of tags. See [commit](https://github.com/zedr0n/icsharp/commit/0a5206b102611f27ee3298d8c05d3ede50a7ea63)

    var html = @"<b>Bold</b>" + "<br>" + "<i>Italic</i>";

This would output
**Test**
_Italic_

[2016-05-16 19:51] zedr0n commented on #24
Re the design concerns. While it might be nice to be able to specify explicitly in user code the return type it's a bit cumbersome dependencies wise. What would need to happen is creating a separate interfaces project which will be a common dependency of icsharp and your user code. And there's no nuget support in Ipython so instead of just distributing the kernel as an .exe file an additional dev

[2016-05-16 20:25] zedr0n commented on #24
Here's also an example of directly returning HTML with embedded images

		using System.Math;

		public static partial class Test
		{
				public static string Html()
				{
						var html = @"<img src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==' alt='Red dot'></img>";
						return html;
				}
		}
will res

[2016-07-12 18:57] mattroid opened #27 "Running for first time"
Everything installed fine following the instructions in README.md

Running `ipython notebook --profile=icsharp` gives me:
`[W 11:56:23.130 NotebookApp] Unrecognized alias: '--profile=icsharp',`

And the notebook starts up but only has an options for python2 noteoboks.

[2016-07-20 05:59] gordonwatts opened #28 "Unable to build"
After doing a git clone, I do a build in Visual Studio 2015 update 3, and it fails to build. The error is that many of the references to packages in the build files (the csproj files) seem to assume the project is in the top level directory.

For example:

      <Import Project="..\..\packages\StyleCop.MSBuild.4.7.49.0\build\StyleCop.MSBuild.Targets" Condition="Exists('..\..\packages\StyleCop.MSBu

[2016-07-20 06:10] gordonwatts commented on #28
Work around. Open the ScriptCS solution file in the Engine directory, open nuget mangement, and do a restore packges. Close the solution, and in the iCSharp do the build. Now it will work fine.

[2016-08-01 23:38] thomasjm opened #29 "Build script problem"
I'm having a problem building ICSharp: the script `Engine/build.sh` contains the following command

[code]

But when this commit gets run, it has a bunch of errors like this:

[code]

The reason is that several DLLs appear in several places, for example

[code]

This seems like it should be straightforward to resolve but I'm not sure what the right thing to do is...

[2016-08-03 23:44] #28 closed

[2016-08-03 23:46] zabirauf commented on #29
@thomasjm Which platforme are you trying to build on?

[2016-08-04 01:36] thomasjm commented on #29
This is Ubuntu 16.04

[2016-08-07 21:13] zabirauf commented on #29
The issue seems to be in the build script of the scriptcs engine. I've created the issue https://github.com/scriptcs/scriptcs/issues/1173 in scriptcs. Do you have any ideas of how to solve it? One way i was looking was to use rsync instead of cp.

[2016-08-07 22:09] thomasjm commented on #29
Well, at a basic level I don't understand why a DLL with the same name is created in all of these different folders, and which one is the "real" one. Maybe they're symlinks? I haven't had time to dig into it unfortunately.

[2016-12-07 13:39] petermorlion commented on #27
Having the same problem when running `jupyter notebook --profile=icsharp`

[2016-12-08 18:44] JohnRyanAudio commented on #19
I am having this same problem as well. Would love to see it fixed so I can use icsharp!

[2017-01-21 18:22] handflucht commented on #27
I had this and many other errors, so I created a fork of https://github.com/handflucht/jupyter-icsharp-docker and fixed it: https://github.com/handflucht/jupyter-icsharp-docker.

If you have some time, you're welcome to support.

[2017-01-23 21:57] handflucht commented on #29
@zabirauf it has been patched on master (https://github.com/scriptcs/scriptcs/issues/1173#issuecomment-244885636), can you please update the code?

[2017-01-23 23:26] handflucht commented on #29
If you look at the linked ticket, you will see, that the issue was solved. Depending on your linux you have to call `build_brew.sh` instead of `build.sh`.
If you fine with it, I would create a PR for a build-script which has an optional parameter. If this parameter is set, `build_brew.sh` is executed, `build.sh` will be the default.

[2017-01-26 11:38] sirsh commented on #29
if this is resolved, I am struggling with instructions.
I can build and run the scriptscs independently but I cannot build the /iCSharp.Kernel.exe cleanly on Ubuntu using the initial instructions (or reconcile how to use build_brew.sh as a proxy)
can someone confirm what clear steps can be used to build this jupyter kernel?

[2017-01-26 13:40] handflucht commented on #29
@sirsh my plan for the weekend is to fork this repository, update the build-script and use the latest scriptcs. If I am done, I let you know

[2017-01-29 00:04] handflucht commented on #29
@sirsh like I posted two days ago, I fixed it and created an PR https://github.com/zabirauf/icsharp/pull/30
@zabirauf can you please have look at it

Also you can checkout https://github.com/handflucht/jucs/commit/f86cbd844c39862ad084853d7a7f0f45e011678d and run a docker build on it. It will set up a docker-image with latest jupyter and fixed chsharp-kernel installed (I will push this to my master

[2017-01-30 18:00] zabirauf commented on #29
@handflucht thanks for fixing it. I will take a look

[2017-04-09 03:28] wanglongqi opened #35 "Built failed in VS2017"
I followed the instruction on [https://github.com/zabirauf/icsharp/wiki/Installation](https://github.com/zabirauf/icsharp/wiki/Installation) to install this package. The package cannot be built in VS2017.

Following are the output in the process:

Build solution:

Do a `nuget restore`:

What should I do from here?

[2017-04-11 10:37] #35 closed

[2017-04-14 09:49] zabirauf commented on #35
@wanglongqi Were you able to solve the problem?

[2017-04-14 10:55] wanglongqi commented on #35
@zabirauf Yes, I built the engine first. Then the project can be built.

[2017-05-09 11:29] KiransHub opened #36 "FileNotFoundError When trying to run."
After installing I openned a notebook and selected csharp as the language. I saw a red button at the top saying Kernel error. I decided to click it to see what the problem was and it gave be the following error log:

[code]

[2017-07-10 09:41] thomasjm commented on #29
This is fixed as far as I can tell, closing...

[2017-07-10 09:41] #29 closed

[2017-07-10 10:01] thomasjm opened #38 "Build script dependency problem"
There seems to be a problem with building ICSharp from scratch in a Docker container, using Ubuntu 16.04.

I've been doing it like this:

[code]

However, this fails when running `Engine/build.sh` with the following error:

[code]

The ScriptCS submodule comes with a `.nuget/NuGet.exe` at version `2.8.60318.667`, which is kind of old. In the past, I've worked around the problem by running `bash -c

[2017-07-21 17:29] bocajnotnef commented on #38
I'm also having this problem under Ubuntu 17.04, with the same error: `Unable to find version '1.9.2' of package 'xunit.runners'.`

[2017-07-21 17:32] denfromufa commented on #38
related?

https://github.com/travis-ci/travis-ci/issues/6171

[2017-07-22 04:42] zabirauf commented on #38
@thomasjm You can use the Dockerfile created by @3Dcube. You can find it here

https://github.com/3Dcube/docker-jupyter-icsharp

I just tried it and it works and I see that is using the same solution mentioned in the travis issue pointed by @denfromufa.

[2017-08-02 09:01] kiran772 opened #39 "Not able to build the solution with VS2017"
Hi,
I tried building it in release definition after removing the style cop. But it's failing because of logwrapper class. Please let me know how to solve this.

Thanks,
Kiran.

[2017-10-12 03:06] konstantint commented on #39
I was interested in getting this kernel to run and it took quite some work right now. Let me document it here, perhaps it could save someone else another hour or so. The following is a list of actions I took, I am not sure whether this is the most correct way to success, but it did the job.

 - Firstly, I pulled in [this](https://github.com/zabirauf/icsharp/pull/37) pull request:
[code]

 - Second

[2017-11-22 18:11] lpoulain opened #40 "Kernel crashes (WindowsError)"
I'm trying to get ICSharp working with the latest version of Jupyter, but the kernel keeps crashing.

After getting the same error as on [Issue 36](https://github.com/zabirauf/icsharp/issues/36), I installed Anaconda w/ Python 2.7. Now I get a different error:

[code]

Based on the source code, the error happens when Jupyter attempts to spawn a new process. It is weird because the Python 2 kernel

[2017-11-22 18:12] lpoulain commented on #36
I received the same error when using the Python 3-based Anaconda. Switching to the Python 2 version got rid of this error (I have another error but that's another story)

[2017-11-23 06:56] zabirauf commented on #40
@lpoulain Meanwhile you can use docker to pull the image and run. That is pretty reliable and less hassle to setup.

[code]

Make sure to replace `/tmp/notebooks` with the local directory where you want the notebooks to be saved.

[2018-03-12 23:26] Realhermit opened #41 "Project does not build on Visual Studio 2015 Windows"
Project does not build on Visual Studio 2015 windows x64. There were a number of reference errors.

To fix this issue, all the self-references were removed for the "Script" projects.

Then, the StyleCopMs Reference, was updated to version .50 from .49 in both engine and the main project.

Once this was done, I was able to build the project and run the rest of the steps successfully.

[2018-03-23 22:08] klonuo commented on #41
Same here.
Removing references doesn't solve the issue for me.

[2018-05-02 05:28] jordana309 opened #42 "Compile error due to xunit.runners"
When I ran build.sh, the script crashed out because it couldn't find a given version of xunit.runners (see below). I'm running on Ubuntu 16.04, and ran the following commands:

Input:
[code]

Output at error:
[code]

Any thoughts? I'm new to mono, so I'm still figuring out how it works.

[2018-06-09 21:57] eegabeeva commented on #41
Doesn't build on VS 2017 either.

[2018-06-15 17:38] AlexCatarino opened #44 "Support for Jupyter Lab"
I could successfully install ICSharp in Jupyter notebook in both Windows 10 Home and Linux docker container and able to run the sample notebook ([iCSharp Sample.ipynb](https://github.com/zabirauf/icsharp/blob/master/iPythonNotebook/iCSharp%20Sample.ipynb)).

After I installed [Jupyter Lab](https://jupyterlab.readthedocs.io/en/stable/), I can see that it somehow recognizes the kernel, because there

[2018-06-19 02:09] lotapp opened #46 "insert on ubuntu18.04"
# add Ubuntu 18.04 repository
sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
echo "deb https://download.mono-project.com/repo/ubuntu stable-bionic main" | sudo tee /etc/apt/sources.list.d/mono-official-stable.list
# update packets - this installs mono..
sudo apt-get update -y
# The package mono-complete should be installed to install

[2018-06-19 03:52] lotapp commented on #42
CSharp for Jupyter Notebook
http://www.cnblogs.com/dotnetcrazy/p/9198129.html

[2018-07-21 00:27] JigneshSuthar opened #47 "The type or namespace name 'LibLog' could not be found"
I am getting below error while compiling the solution

Error	CS0246	The type or namespace name 'LibLog' could not be found (are you missing a using directive or an assembly reference?)	ScriptCs.Contracts

[2018-08-02 08:16] #4 closed

[2018-08-02 21:07] jaredbroad commented on #44
From @AlexCatarino investigation:

Error received:
[code]

[code]

[2018-08-03 16:21] wildart commented on #44
I compiled icsharp under latest mono.

[code]
with following kernel file `kernel.json` in `~/.local/share/jupyter/kernels/csharp/`
[code]
I was able to run kernel, but it is unstable.
![CsharpKernel](https://user-images.githubusercontent.com/38350/43653731-eceb8636-9716-11e8-8e08-29830a1108dd.gif)

Kernel periodically hangs, unable to reconnect. It seams that `kernel_info_reply` message is not han

[2018-08-05 00:24] wildart commented on #44
Current version of Jupyter moved to new message protocol specification - v5. In particular Jupyter Lab handles `kernel_info_request` message a bit differently from the Notebook implementation. In particular, Lab requires to set busy status prior sending `kernel_info_reply`. Without setting status, Lab continuously sends `kernel_info_request` after timeout.

I made a PR #49  to solve this issue alo

[2018-08-20 10:35] AlexCatarino opened #50 "StackOverflow in IoPubConsole in Debug mode"
I have had StackOverflow error when running an iCSharp kernel in Debug mode.
It happens when I add a `Console.WriteLine` statement and it occurs on [IoPubConsole.cs#L105](https://github.com/zabirauf/icsharp/blob/master/Kernel/ScriptEngine/IoPubConsole.cs#L105).

A possible solution would be setting `IOPubConsole._logger` to `NoOpLogger` in Debug mode.

[2018-08-28 12:52] CM-Kajiwara commented on #42
+1

[2018-08-28 23:57] lotapp commented on #42
http://www.cnblogs.com/dotnetcrazy/p/9198129.html

[2018-09-01 07:30] HALOCORE commented on #42
I know how to solve the Unable to find problem, but even if you build successfully,  you will still not be able to launch C# kernel. Too many bugs! I rewrited build.sh，packages.config,  and so on just to pass the build, but still not be able to use....

[2018-09-01 07:33] HALOCORE commented on #42
the 'Unable to find version '1.9.2' of package 'xunit.runners'' is because of the old Nuget.exe in subfolder Engine/.nuget is broken. It should be replaced by a usable one. I copied icsharp/.nuget/nuget.exe(4MB) to replace the icsharp/Engine/.nuget/Nuget.exe(2MB)

[2018-09-09 14:03] ghost commented on #38
Travis-ci has hid their issues. What's the solution?

[2018-09-25 08:51] GF-Huang opened #51 "vs2017 build failed"
![image](https://user-images.githubusercontent.com/4510984/46003453-2a9f6b00-c0e3-11e8-90e3-230addca6574.png)
![image](https://user-images.githubusercontent.com/4510984/46003722-c6c97200-c0e3-11e8-966c-a7f751227d67.png)
![image](https://user-images.githubusercontent.com/4510984/46003715-c03afa80-c0e3-11e8-8c2e-7097c6e76a21.png)
![image](https://user-images.githubusercontent.com/4510984/46003746-d5

[2018-09-27 15:30] zbernhardtme commented on #51
I just had this same issue.  Here's how I fixed it:

1. Open the ScriptCS solution ( icsharp/Engine/ScriptCS.sln )
2. There will be a ton of errors (3,132!), but those are all testing errors and you can ignore them.
3. Clean Solution
4. Make sure Nuget Package Restore is enabled
5. Rebuild ScriptCS
6. Go back to the iCSharp.sln
7. Rebuild Kernel

This might not be the most efficient way, but it wo

[2018-09-27 15:31] GF-Huang commented on #51
@zbernhardtme solved, thank you !

[2018-10-23 19:55] kagemartin opened #52 "PermissionError: [Errno 13] Permission denied"
Running on Ubuntu 16.04 I get the following kernel error when I open a C# notebook.

Kernel was installed to user:

`jupyter-kernelspec install kernel-spec --user`

with the following kernel.json:

[code]

This is the full error provided by clicking on the Kernel Error button:

[code]

[2018-10-23 20:02] kagemartin commented on #52
Looks like this can be fixed by enabling execute on the kernel executable.

`chmod +x /home/userdir/stuff/icsharp/build/Release/bin/iCSharp.Kernel.exe`

[2018-11-04 07:33] MrEsp commented on #51
Same problem.  @zbernhardtme  instruction doesn't work for me. I haven't analyzed thoroughly why the hell trivial references like System.Xml are broken.  (changing .Net version and specifying reference paths manually doesn't repair it). Quite strange.

[2018-11-06 08:18] rostov-da commented on #51
Same problem. Instruction @zbernhardtme helped me solve the problem.

[2018-11-09 19:49] Oceania2018 opened #53 "'ScriptResult' could not be found"
Severity	Code	Description	Project	File	Line	Suppression State
`Error	CS0246	The type or namespace name 'ScriptResult' could not be found (are you missing a using directive or an assembly reference?)	Kernel	D:\Projects\icsharp\Kernel\ScriptEngine\ReplEngineWrapper.cs	38	Active`

After installed `ScriptCs.Hosting` and `ScriptCs.Engine.Roslyn`.
`Severity	Code	Description	Project	File	Line	Suppression

[2018-11-10 04:24] #53 closed, assigned to nobody

[2018-11-11 16:17] Oceania2018 opened #54 "It is possible to upgrade to .netstandard 2.0"
It is possible to upgrade to .netstandard 2.0?

[2018-11-21 02:39] jzabroski commented on #51
I'll try to look at this Friday.

[2018-12-03 13:13] jeanflorentine commented on #39
Hi,
For me too it fails to build although I have followed Konstantint's procedure.
by the way there was no such Kernel/bin/Release directory on my disk ?
Can you help ?

C:\Users\jon\icsharp\Engine>build.cmd
  Restoring NuGet packages...
C:\Windows\Microsoft.NET\Framework\v4.0.30319\Microsoft.Common.targets(983,5): warning MSB3644: les assemblys de réfé
rence pour le framework ".NETFramework,Versi

[2018-12-03 17:16] jeanflorentine opened #55 "Compile fails on Windows10 x86-64, help or get me a pre-compiled installable"
Hi,
I am not a C# compilation dude, as my point is to use this C# notebook to train into this language,
unfortunately after some efforts I cannot compile the C# engine from sources on my Windows x86-64 laptop. Would be nice if there would be a precompiled installable of this C# Jupyter engine.
![screenshot 12-03-18 at 06 11 pm](https://user-images.githubusercontent.com/43513099/49389663-2a48cf00-f

[2018-12-12 03:13] deepu2010 commented on #55
Yes I too face this same issue, but it would be a great asset if C# works in jupyter notebook

[2018-12-12 03:50] deepu2010 commented on #40
Got the same issue, getting Kernel error and not able to proceed further

[2018-12-12 05:12] kirinnee commented on #55
1) Clone the git repo recursively to include the CSScript runtime
`git clone --recursive https://github.com/zabirauf/icsharp`

2) Navigate to the engine folder, and open ScriptCS.sln in VS2017

3) Change to Release from debug, Clean and rebuild solution (right click solution in solution explorer and rebuild twice works too)

4) Close VS2017 and go back to root and open iCSharp.sln, rebuild solutio

[2018-12-21 12:10] bozkurtfurkan commented on #51
Same problem

[2018-12-26 08:36] tlinnet opened #56 "Made Docker image for use in mybinder.org"
Hi.

I tried to make a Docker image with your setup.

- https://github.com/tlinnet/csharp-notebook

I included a sample Notebook to try, which can be tried online in a browser through https://mybinder.org

- [![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/tlinnet/csharp-notebook/master) https://mybinder.org/v2/gh/tlinnet/csharp-notebook/master

[2019-02-06 04:24] thomasjm commented on #38
@zabirauf thanks -- if this is the solution, how about updating the build script in this repo to do it this way?

It seems like lots of people are being bitten by this, see also #42 .

[2019-04-15 00:46] SatoshiOdawara commented on #51
Same problem. solved with @zbernhardtme advice. thunk you!

[2019-04-21 14:10] JasonYanxx opened #57 "Not able to build with VS2015"
the code `public bool IsError { get => !(CompileError == null && ExecuteError == null); }` in source project make my building wrong!
Here is the error:
'Error	CS0161	'ExecutionResult.IsError.get': not all code paths return a value	Kernel'

[2019-04-21 14:11] JasonYanxx commented on #57
use`public bool IsError { get { return !(CompileError == null && ExecuteError == null); } }` instead,then rebuild the project, eventually be fine!

[2019-04-22 05:09] zabirauf commented on #57
I believe this might be happening because the msbuild installed by VS2015 doesn't support the newer version of C#. Can you try updating the VS 2015 or the msbuild version to latest and try again. Hopefully that should resolve the problem.

[2019-04-22 07:52] JasonYanxx commented on #57
Indeed，I've updated `msbuild` to the latest version,i.e,6.10, but I still failed to build the project. The error mainly focus on the code below :`public bool IsError { get => !(CompileError == null && ExecuteError == null); }`. I rewrite this code with `public bool IsError { get { return !(CompileError == null && ExecuteError == null); } } `, and it works.

[2019-04-22 15:18] New1997 opened #58 "Error 1043"
ubuntu 18.04
ScriptEngine/ExecutionResult.cs(26,34): error CS1043: Invalid accessor body `=>', expecting `;' or `{'

[2019-05-01 16:17] frhino commented on #56
thanks @tlinnet ! It's great to see posts like this when evaluating whether to invest time exploring open source projects. Based on this, I'll be suggesting our team implement a support solution using icscharp.

[2019-05-01 17:18] jzabroski commented on #56
Oh sweet - mybinder looks sick!

[2019-05-23 00:33] davidcorbin commented on #42
Still having this issue on macOS.

[code]

[2019-05-24 07:41] ChandraSannamuri commented on #28
i am also facing the same issue in Mac, while trying to build in terminal with  following command

(base) $ bash ./build.sh brew
+ mozroots --import --sync --quiet
./build.sh: line 7: mozroots: command not found

[2019-05-24 09:43] ChandraSannamuri commented on #38
i am also facing the same issue in Mac, while trying to build in terminal with following command

(base) $ bash ./build.sh brew

mozroots --import --sync --quiet
./build.sh: line 7: mozroots: command not found

[2019-07-06 06:49] HuangJunye commented on #42
This does the trick.

[2019-07-06 08:02] HuangJunye commented on #52
I had this error after fixing the Errno 13 using chmod +x.

`OSError: [Errno 8] Exec format error: '/Users/kirais/icsharp/Kernel/obj/Release/iCSharp.Kernel.exe'`

This problem is fixed by adding 'mono' in 'argv'.

[code]

[2019-07-27 14:47] bartlomiejmucha commented on #38
I'm building it on Windows 10, but today I got the same error.

There is a solution for this problem:

Go the `Engine\.nuget` folder and type `nuget.exe update -self`.
The `Nuget.exe` file will update to the latest version. It fixed the issue for me.
I then opened the `Engine\ScriptCs.sln' and did a rebuild.

Re the second `.nuget` folder under the root of the repo: I just deleted it completely ac

[2019-08-09 15:10] daniel-fink commented on #47
Also receiving this, building on MacOS with VisualStudio

[2019-08-21 15:39] yoiang commented on #42
I don't love this build process of including and executing `nuget` from the repo, is there a more safe way for this to work?

[2019-08-21 20:34] zabirauf commented on #42
@yoiang agreed that there needs to be a better build/installation process. You can also use the docker image to run icsharp
https://cloud.docker.com/u/zabirauf/repository/docker/zabirauf/icsharp

Though the docker image is older then the latest commit in repo.

Feel free to send any PR to improve/fix the build and installation process.

[2019-10-09 18:18] tbhaxor opened #59 "Unable to install on Manjaro"
I followed the command as listed [here](https://github.com/zabirauf/icsharp/wiki/Install-on-Unix-(Debian-7.8)#compile-icsharp)
[code]
<br>

**Checking if xUnit Installed**

![image](https://user-images.githubusercontent.com/28386721/66508698-9e6aa680-ea9f-11e9-99ad-9f2c9dd0875c.png)

[2019-10-10 07:44] tom-van-acker opened #60 "Is this project abandonded?"
Hello. I think this is a very interesting project! Jupyter notebooks are really great! I would love to be able to use a C# kernel with a notebook. If I could load custom assemblies this would be an amazing environment for educational purposes, collaboration between developpers, scratchbooks doing analysis ...  However, since the last commit on this project is more then one year ago, I wonder if th

[2019-10-11 04:57] zabirauf commented on #60
Hey @tom-van-acker Currently the project is being passively maintained by some of the users. There is no active development going on the project as I currently cant put time onto it.
Feel free to make improvements to it and I can help reviewing changes and merging them.

[2019-10-12 08:12] tom-van-acker commented on #60
Thank you for your reply! I see there are a lot of forks, so maybe other people have made some progress already. I will look into it.

[2019-10-15 11:42] Yvees opened #61 "Is there a sample code of how to use nuget command ?"
hi guys,
Im new to icsharp. Is that possible using a nuget command to add references ?

[2019-10-16 03:29] zabirauf commented on #61
@KevinYeti Yep you can. You can get the DLLs using nuget and then refer to them in Jupyter using

[code]

[2019-10-16 15:59] Yvees commented on #61
Thank you for reply.
Actually  what i mean is is that a way to add nuget package reference.
maybe something like this ?
[code]

[2020-02-16 19:39] mikail-gultekin commented on #55
@kirinnee, should promote your answer to the installation page.

[2020-02-18 09:00] cyrillemidingoyi commented on #42
Is there any solution to this problem?
Unable to find version '1.9.2' of package 'xunit.runners'.

[2020-06-24 13:53] MohamedEihab commented on #60
@tom-van-acker, If you look at the fork on my profile - a lot of decent work was added to the project a couple years ago. Might be a decent place to look if you are interested.

@zabirauf, at the time (2 years ago) the demo my team made was working pretty well and we added a lot of features plus a few upgrades (such as to Roslyn engine). I don't know if everything is still working but if you are i

[2020-09-15 14:28] syejing opened #62 "Kernel not found: None"
I don't quite understand why the kernel can't be found.

`jupyter notebook --KernelManager.kernel_cmd="['mono', '/usr/local/JupyterKernels/icsharp/Kernel/bin/Release/iCSharp.Kernel.exe', '{connection_file}']" --MappingKernelManager.default_kernel_name='icsharp'`

501 POST /api/sessions

iCSharp.Kernel.exe‘s directory is installed in /usr/local/JupyterKernels/icsharp/Kernel/bin/Release/，what does

[2020-09-15 14:44] #62 closed, assigned to nobody

[2020-09-15 16:04] thanhle7 commented on #42
Outdated NuGet.exe made problem, just update to the latest version, as followings:
[code]

[2021-05-13 21:47] vickumar1981 commented on #59
i get the same error.

[2021-05-17 21:38] tbhaxor commented on #59
Users coming here, Use with conda.

[2021-05-17 21:38] #59 closed, assigned to nobody